button{
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;

}

.AccButton{
    background-color: #1f5ff3;
    color: white;
}

.AccButton:hover{
    background-color: #123771;
}

.AccButton:active{
    background-color: #092352;
}
.DelButton{
    background-color: #ff3838;
    color: white;
}

.DelButton:hover{
    background-color: #c62828;
}

.DelButton:active{
    background-color: #8f1717;
}