.nav{
    position: relative;
}
.AppBar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 280px 20px 60px;
    max-height: 60px;

}

.list{

z-index: 100;

}

.top{
    display: flex;
    align-items: center;
    /* padding-left: 80px; */

}
.logo{
    /* border-radius: 50% 0 0; */
    min-width: 50px; 
     height: 50px;
    margin:5px 20px 20px ;
  }
.logoName{
    font-size: 30px;
    color: black;
    font-weight: bold;
    /* font-family:"Edu AU VIC WA NT Pre", cursive; */
}
.menu{
     position: absolute;
     /* position: relative; */
    background-color: white; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    padding: 20px;  
   /* max-width: 300px; */
    border-radius: 10px;
}

.link{
    display: block;
    padding: 8px; 
    text-decoration: none; 
    color: black; 
    text-align: left;
    position: relative;
    font-family: sans-serif; 
     font-weight: normal;
}

.link:hover {
    background-color: #f0f0f0; 
}
.link .active{
    display: block;
}

.link:hover{
    color: blue;
}